.App{
    min-height: 1000px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

.min-w-col{
    min-width: 300px;
}

.list-highlight {
    background-color: #cacaca88;
    border-radius: 20px;
}

.bar {
    background-color: #61DBFB;
    color: white;
    text-align: center;
    width: 100%;
    height: 30px;
}

.background-img {
    background-image: url(../public/fond.jpg);
    background-attachment: fixed;
    background-position: center;
}

.btn-react {
    background-color: #61DBFB;
    color: white;
    border: white;
}

.bg-react {
    background-color: #61DBFB;
    color: white;
}